
<form action="{{ action }}" method="post" id="payment">

    <div style="margin: 50px 0 0 0; text-align: center">
        <input type="hidden" name="kanal" id="tpay-channel-input"/>
        <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" /></div>
</form>
